@page
@model IndexModel
@{
    ViewData["Title"] = "Inventory System Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>ร้านขนมที่ใหญ่ที่สุดในตำบลศรีเลิศ</p>
    <img src="/images/Header.png"width="50%" />
</div>
